<h2>All my plants</h2>

<div class="plant-grid">
    <% myPlants.forEach( plant => { %>
        <div class="plant-card">
            <h3><%- plant.name %></h3>
            <img class="card-img" src="<%- plant.imageSrc %>" alt="image from: <%- plant.name %>">
            <p class="center"> <%= plant.description %></p>
            <p class="center">Light Exposure level: <%- plant.light %></p>
            <p class="center">Water every <%- plant.wateringWeekly %> days</p>
            <p class="center">Pet Friendly: <%- plant.petFriendly %></p>
            <a class="center" href="plant/<%- plant._id %> ">See more</a>
        </div>
        <% }); %>
</div>

