<div class="content">
  
  <% if(userInSession) { %>
    <div class="user-bar">
      <h2>Hello <%= userInSession.username %>!, check out your plants :)</h2>
      <button class="btn-form">
        <a href="/userPlant">Reload the page</a>
      </button>
      <button class="btn-form">
        <a href="/userPlant/create">Add a new plant</a>
      </button>
    </div>

    <% if(typeof errorMessage !== 'undefined') { %>
    <p class="error"><%= errorMessage %></p>
    <% } %> <% } else { %>
    <p>Still no logged in user, sorry!</p>
    <% } %>


  <div class="plant-grid">
    <% myPlants.forEach( plant => { %>

    <div class="plant-card">
      <img
        class="card-img"
        src="<%= plant.plantType.imageSrc %>"
        alt="image from: <%- plant.name %>"
      />
      <h3><%- plant.name %></h3>
      <h4>(<%- plant.plantType.name %>)</h4>
      <hr class="card-line" />
      <p class="center">Location: <%- plant.location %></p>
      <p class="center">Last watered on: <%- plant.lastWatering %></p>

      <p <% if (plant.watered === true) { %> class="center" <% } else { %>
      class="center blink" <% } %>>Next watering: <%- plant.nextWatering %></p>

      <p class="center comments">Comments: <%= plant.comments %></p>

      <a class="center" href="plant/<%- plant.plantType._id %>">Click for Details</a>

      <hr class="card-line" />

      <div class="card-controls">
        <form action="userPlant/<%- plant._id %>/watered" method="POST">
          <label>
            <button
              class="blend-style"
              id="btn-watering"
              type="submit"
              name="set-current"
            >
              Water
            </button>
          </label>
        </form>
        <p>|</p>
        <a id="edit" class="center" href="userPlant/<%- plant._id %>/edit"
          >Edit</a
        >
        <p>|</p>
        <form action="userPlant/<%- plant._id %>/delete" method="POST">
          <button id="delete" class="blend-style" type="submit">Delete</button>
        </form>
      </div>
    </div>

    <% }); %>
  </div>
</div>
